# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/
test-output
.metadata

# Gradle
build/
bin/
.springBeans
.gradle
gradle*
gradlew


# Bower
jquery
bootstrap
